body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 232, 188);
    
  }
  h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(7, 1, 73);
  }
  .container {
    text-align: center;
    background: #ffe5dc;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 20px 30px 40px rgba(0, 0, 0, 0.1);
  }

  .createfile{
    width: 100%;
  }
  
  .actions input,
  .actions textarea {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  
  button {
    margin: 15px;
    padding: 15px 20px;
    background: #920000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background: #b30000;
  }
  
  #fileList {
    margin-top: 20px;
  }
  