// add new products to the catalog
//provide product details (name, desc, price)
// when new product is added, it should be automatically available to users on the catalog

doctype html 
html
    head
        title OnlineProductCatalog 
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body 
        .container 
            h1 Online Product Catalog 
            form(method='POST', action='/admin')
                .form-group 
                    label(for='name')  Product Name 
                    input#name.form-control(type="text", name="productName", required)
                .form-group 
                    label(for='description') Product Description 
                    input#desc.form-control(type='text', name="productDesc", required)
                .form-group 
                    label(for='price') Product Price 
                    input#price.form-control(type='text', name="price", required)
                .form-group 
                    label(for='availability') Product Availability 
                     select#availability.form-control(name="availability", required)
                        option(value="yes") Yes
                        option(value="no") No
                button.btn.btn-primary(type='submit') Add Product to Catalog
