body {
    background: linear-gradient(to bottom right, rgb(255, 88, 62) 0%, rgb(255, 187, 168) 100%);
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 90px;
}
.registration-container {
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-check-label {
    margin-left: 10px;
}
.btn{
    border-radius: 12px;
}
.btn-custom {
    background-color: #ff2200;
    color: #ffffff;
}
.btn-custom:hover {
    background-color: #5a1c00;
    color: #ffffff;
}